body {
    background-color: lightgray;
}

table {
background-color: lightsteelblue;
border-radius: 12px;
}

.jumbotron {
    width: 100%;
    border-radius: 12px;
    background-color:lightsteelblue;
    color: white;
}

.container {
    width: 100%;
    border-radius: 12px;
   
}

.table-1 {
    border: 3px solid lightsteelblue;
    border-radius: 12px;
}

.table-2 {
    border: 3px solid lightsteelblue;
    border-radius: 12px;
    margin-top: 24px;
}

.alert {
    width: 100%;
    border-radius: 12px;
}